set daemon  30
set logfile /var/log/monit.log
set alert {{email}}

set httpd port 2812
    use address localhost  # only accept connection from localhost
    # allow localhost        # allow localhost to connect to the server and
    allow {{monit_user}}:{{password}}

# Check nginx
check process nginx with pidfile /var/run/nginx.pid

# Check MySQL
check host localmysql with address 127.0.0.1
      if failed ping then alert
      if failed port 3306 protocol mysql then alert

# Check php-fpm
check process phpfpm with pidfile /run/php/php7.4-fpm.pid
      if cpu > 50% for 2 cycles then alert
      # if total cpu > 60% for 5 cycles then restart
      if memory > 800 MB then alert
      # if total memory > 500 MB then restart


# include files for individual sites
include /etc/monit/conf-available/wordpress.cnf
