# Site monitoring fragment for {{domain_name}}

check host {{domain_name}} with address {{domain_name}}
    if failed port 80 protocol http for 2 cycles then alert

check file nginx_error.log with path /var/log/nginx_error.log
    if size > 15 MB then exec "/usr/local/sbin/logrotate -f /var/log/nginx_error.log"